@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(30, 33, 36);
    }

    #hint{
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(238, 238, 238);
    }
}

#navbar-brand{
    margin-left: 1%;
}

.navbar
{
    font-size: 200%;
}

.navbar-brand
{
    font-size: 100%;
}

#spacer
{
    height: 5vw;
}

.modal
{
    width: 100vw;
}

.modal-title
{
    font-size: 200%;
}

.icon
{
    max-width: inherit;
    max-height: inherit;
    padding: 0px;
}

a
{
    text-decoration: none;
    color: inherit;
}

.iconText
{
    width: auto;
    justify-content: center;
}

#footer
{
    font-size: 150%;
    position: fixed;
    left: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    background-color: white;
}

#hint{
    font-size: 200%;
    text-align: center;
    padding-top: 2vw;
}