/* For light-dark mode support */
:root {
    color-scheme: light dark;
}

body {
    color: light-dark(black, white);
    background-color: light-dark(rgb(238, 238, 238), rgb(30, 33, 36));
}

#brand{
    margin-left: 1%;
}

.navbar
{
    font-size: 200%;
}

.navbar-brand
{
    font-size: 100%;
}

#languageSelector
{
    font-size: 80%;
    margin-right: 2%;
}

#spacer
{
    height: 5vw;
}


.modalImg
{
    max-width: 256px !important;
    max-height: 256px !important;
}

.icon
{
    max-width: inherit;
    max-height: inherit;
    padding: 0px;
}

a
{
    text-decoration: none;
    color: inherit;
}

.iconText
{
    width: auto;
    justify-content: center;
}

#footer
{
    font-size: 150%;
    position: fixed;
    left: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    background-color: white;
    color: black;
}

dialog {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    &::backdrop{
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
    }
}

dialog[open] {
  animation: fadein 0.2s ease-in forwards;
}

@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.modalHint {
    max-width: min-content;
    min-width: 50vw;
}

/* portfolio */
#collection {
    margin-top: 1%;
    margin-bottom: 10%;
}

.card {
    margin-right: 1%;
}